.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  width: 100%;
  margin: 0 auto;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3);
}

.headerImage {
  background: url("../../images/todo.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 6px 6px 0 0;
  height: 100px;
  width: 100%;
  position: relative;
  display: flex;
  padding: 20px;
}

.headerImage p {
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin: 0;
}

.date {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  padding: 5px 0 0 8px;
}

.date p {
  font-size: 14px;
  font-weight: normal;
}

.date p:first-of-type {
  font-weight: bold;
}

.list {
  padding: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info p {
  margin: 0;
  color: gray;
  font-size: small;
}

.info p:first-of-type {
  font-size: 20px;
  color: black;
}

.todosChoise {
  display: flex;
  justify-content: space-around;
}

.todosChoise a {
  text-decoration: none;
  color: #89969e;
}

.todosChoise a:hover {
  color: #4d5458;
}
